<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="E2EPackage.URLCheckTC1" />
			<class name="E2EPackage.LoginTC2" />
			<class name="E2EPackage.AssertNavigationBarTC3" />

			<class name="E2EPackage.AppTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
